<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <title>Document</title>

  <style>
    body {

      background-repeat: no-repeat;
      background-position-x: center;
      background-size: 1600px;


    }
  </style>

</head>

<body background="static\images\background_photo.jpg">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">The Foodie Review</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">


        <li class="nav-item">
          <a class="nav-link" href="/signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row" style="margin-top: 15vh;">
      <div class="col-lg-4">
        <div class="card m-1" style="height: 400px;">
          <img src="static\images\Annotation 2023-09-02 222153.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Share your Opinion</h5>
            <p class="card-text">You can submit reviews and give ratings through our website just login and start your
              journey !</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card m-1" style="height: 400px;">
          <img src="static\images\ssswswws.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Choose the best option</h5>
            <p class="card-text">You can go through the variety of reviews and choose the best option suitable for you !
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card m-1" style="height: 400px;">
          <img src="static\images\mwdopiwdmi.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Search it</h5>
            <p class="card-text">Have a restaurant in mind ? use our search bar and check it out!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-1 d-flex ">
      <div class="bg-white w-100 d-flex flex-row p-2" style="border-radius: 2%;">
        <div class="col-lg-6 text-right">
          <a class="btn btn-primary" href="{{ url_for('sign_up') }}" style="font-size: 1rem; min-width: 30%;">Signup</a>
        </div>
        <div class="col-lg-6 text-left">
          <a class="btn btn-primary" href="{{ url_for('login') }}" style="font-size: 1rem; min-width: 30%;">Login</a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.js"></script>
</body>

</html>